@using Microsoft.AspNetCore.Identity
@model TCIPlaba1.NewFolder.ChangeRoleViewModel

<h2>Зміна ролей для користувача @Model.UserEmail</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <div>
                <input type="checkbox" name="roles" value="@role.Name"
                @(Model.UserRoles.Contains(role.Name) ? "checked='checked'" : "") />
                <label>@role.Name</label>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>
