@model TCIPlaba1.Models.Match

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.Date)
	</dt>
	<dd class="col-sm-10">
		@Html.DisplayFor(model => model.Date)
	</dd>
</div>

<div>
	<h4>Stadium</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StadiumNavigation.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.StadiumNavigation.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StadiumNavigation.Address)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.StadiumNavigation.Address)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StadiumNavigation.Capacity)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.StadiumNavigation.Capacity)
		</dd>
	</dl>
	@if (Model.DivisionNavigation.DivisionOrLeague == true)
	{
		<h4>League</h4>
	}
	@if (Model.DivisionNavigation.DivisionOrLeague != true)
	{
		<h4>Division</h4>
	}
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DivisionNavigation.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DivisionNavigation.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DivisionNavigation.Level)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DivisionNavigation.Level)
		</dd>
	</dl>
</div>
<div>
	@*<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
	<a asp-action="Index">Back to List</a>
</div>
