@model TCIPlaba1.NewFolder.MatchAndParticipantsVM

@{
	ViewData["Title"] = "Index";
}

<h1>Matches</h1>

<p>
	<a asp-action="Create" asp-route-area="Participants">Create New Participant</a>
</p>
<p>
	<a asp-action="CreateMatches" asp-route-area="Matches">Create New</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.participant.FirstOrDefault().Goals)

			<th>
				@Html.DisplayNameFor(model => model.participant.FirstOrDefault().TeamNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.participant.FirstOrDefault().TeamRoleNavigation)
			</th>
			<th>
					
			</th>
			<th>
				@Html.DisplayNameFor(model => model.participant.FirstOrDefault().Goals)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.participant.FirstOrDefault().MatchNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.participant.FirstOrDefault().TeamNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.participant.FirstOrDefault().TeamRoleNavigation)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.match)
		{
			<tr>
				@foreach (var participants in item.Participants)
				{
					<td>
						@Html.DisplayFor(modelItem => participants.Goals)
					</td>

					<td>
						@Html.DisplayFor(modelItem => participants.TeamNavigation.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => participants.TeamRoleNavigation.Name)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@participants.Id">Edit</a>
					</td>
					
				}
			<td>
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>

			</tr>
		}
	</tbody>
</table>
