@model TCIPlaba1.NewFolder.MatchAndParticipantsVM

@{
	ViewData["Title"] = "Index";
}

<h1>Matches</h1>

<p>
	<a asp-action="Create" asp-controller="ParticipantParticipantMatches">Create New</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>

			</th>
			<th>
				@Html.DisplayNameFor(model => model.participant.FirstOrDefault().TeamNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.participant.FirstOrDefault().Goals)

			<th>
					@Html.DisplayNameFor(model => model.participant.FirstOrDefault().Goals)
			</th>
			<th>
					@Html.DisplayNameFor(model => model.participant.FirstOrDefault().TeamNavigation)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.match)
		{
			<tr>
				@foreach (var participants in item.Participants.OrderBy(p => p.TeamRole))
				{
					if (participants.TeamRole == 1)
					{
						<td>
							<a asp-action="Edit" asp-route-id="@participants.Id">Edit</a>
						</td>
						<td>
							@Html.DisplayFor(modelItem => participants.TeamNavigation.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => participants.Goals)
						</td>
					}
					else
					{
						<td>
							@Html.DisplayFor(modelItem => participants.Goals)
						</td>

						<td>
							@Html.DisplayFor(modelItem => participants.TeamNavigation.Name)
						</td>
						<td>
							<a asp-action="Edit" asp-route-id="@participants.Id">Edit</a>
						</td>
					}
				}
				<td>
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>

			</tr>
		}
	</tbody>
</table>
<div class="container">
	<div id="chart1"></div>
</div>
@section scripts{

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script>
		google.charts.load('current', { 'packages': ['corechart'] });
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			$.get('/api/Diagram1/JsonData', function (JsonData) {
				data = google.visualization.arrayToDataTable(JsonData, false);
				var options = {
					width: 500,
					title: "Співвідношення кількості Матчів до Стадіонів",
					height: 400
				};
				chart = new google.visualization.PieChart(document.getElementById('chart1'));
				chart.draw(data, options);
			});
		}
	</script>
}
