@model TCIPlaba1.NewFolder.MatchAndParticipantsVM

@{
	ViewData["Title"] = "Index";
}

<h1>Матчі</h1>

<p>
	<a asp-action="Create" asp-controller="ParticipantParticipantMatches">Додати новий матч</a>
</p>
<div>
	<h3>Выберите файл Excel для загрузки</h3>
	@using (Html.BeginForm("Import", "Participants", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
	{
		<div>
			Загрузить файл Excel:
			<input type="file" name="fileExcel" id="fileExcel" />
			<div>
				<input type="submit" value="Загрузить" />
			</div>
		</div>
	}
</div>
<div>
	<h3>Завантаження інформації в файл</h3>
	<a asp-action="Export">Завантажити</a>
</div>

<div style="display: inline-block; ">
	<div id="chart2"></div>
</div>
<div style="display: inline-block; ">
	<div id="chart1"></div>
</div>
<div style="display: inline-block; ">
	<div id="chart3"></div>
</div>

@section scripts{

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script>
		google.charts.load('current', { 'packages': ['corechart'] });
		google.charts.setOnLoadCallback(drawChart);
		google.charts.setOnLoadCallback(drawChart1);
		google.charts.setOnLoadCallback(drawChart2);


		function drawChart() {
			$.get('/api/Diagram1/JsonData', function (JsonData) {
				data = google.visualization.arrayToDataTable(JsonData, false);
				var options = {
					width: 350,
					title: "Співвідношення кількості Матчів до Стадіонів",
					height: 300
				};
				chart = new google.visualization.PieChart(document.getElementById('chart2'));
				chart.draw(data, options);
			});
		}
		function drawChart1() {
			$.get('/api/Diagram2/JsonData', function (JsonData) {
				data = google.visualization.arrayToDataTable(JsonData, false);
				var options = {
					width: 350,
					title: "Співвідношення кількості Команд до зіграних Матчів",
					height: 300
				};
				chart = new google.visualization.PieChart(document.getElementById('chart1'));
				chart.draw(data, options);
			});
		}
		function drawChart2() {
			$.get('/api/Diagram3/JsonData', function (JsonData) {
				data = google.visualization.arrayToDataTable(JsonData, false);
				var options = {
					width: 350,
					title: "Співвідношення кількості Команд до перемог",
					height: 300
				};
				chart = new google.visualization.PieChart(document.getElementById('chart3'));
				chart.draw(data, options);
			});
		}
	</script>
}

<table class="table">
	<thead>
		<tr>
			<th>

			</th>
			<th>@*@Html.DisplayNameFor(model => model.participant.FirstOrDefault().TeamNavigation)*@Ім'я першої команди</th>
			<th>
				@*@Html.DisplayNameFor(model => model.participant.FirstOrDefault().Goals)*@Голи першої команди
			<th>
					@*@Html.DisplayNameFor(model => model.participant.FirstOrDefault().Goals)*@Ім'я Другої команди
			</th>
			<th>
					@*@Html.DisplayNameFor(model => model.participant.FirstOrDefault().TeamNavigation)*@Голи Другої команди
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.match)
		{
			<tr>
				@foreach (var participants in item.Participants.OrderBy(p => p.TeamRole))
				{
					if (participants.TeamRole == 1)
					{
						<td>
							<a asp-action="Edit" asp-route-id="@participants.Id">Edit</a>
						</td>
						<td>
							@Html.DisplayFor(modelItem => participants.TeamNavigation.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => participants.Goals)
						</td>
					}
					else
					{
						<td>
							@Html.DisplayFor(modelItem => participants.Goals)
						</td>

						<td>
							@Html.DisplayFor(modelItem => participants.TeamNavigation.Name)
						</td>
						<td>
							<a asp-action="Edit" asp-route-id="@participants.Id">Edit</a>
						</td>
					}
				}
				<td>
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>

			</tr>
		}
	</tbody>
</table>

